.navbar {
    background-color: #333; /* Match the footer background color */
    transition: background-color 0.3s ease;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #ffd700 !important; /* Gold */
  }
  
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-brand {
    color: white !important;
  }

  .navigation-align {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

 
  